*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: #FAF7F0;
}
.bars {
    display: flex;
    gap: 3.5px;
    margin-left: 5px;
    align-items: center;
}
.para{
    margin-left: 22px;
}
.orange-color{
color: #FF6200;
}
.text{
    font-size: 30px;
    font-weight: bold;
}
.mainwraper{
    max-width: 1400px;
    margin: 0 auto;
    position: relative;
}
.nav-ul{
    display: flex;
    gap: 8px;
    margin-left: 4.5px;
    list-style: none;
}
.nav-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 20px;
    border: 1px solid #d3d1d1;
    border-radius: 8px;
}
.mainsection{
    position: absolute;
    top: 120px;

}
.doupdown-section{
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 8px;
    margin-top: 10px;
}
.text-para{
    margin-top: 20px;
}
.img-section{
    height: 460px;
    width: 460px;
    position: absolute;
    top: 110px;
    left: 490px;
}